.slider-container{
    margin:  120px;
    padding: auto;
    overflow-x: hidden;
}

.slider{
    display: flex;
    cursor: grab;
    
}

.item{
    height: 40rem;
    max-width: 10rem;
    padding: 0.5rem;
    
}

.item img{
    height: 50%;
    width: 150%;
    pointer-events: none;
    border:solid rgb(2, 24, 24);
    
}